<script type="text/javascript">
    $(document).ready(function () {
        var h1 = $("h1");
        h1.animate({opacity: 0.2}, "slow");
        h1.animate({paddingTop: '10%', opacity: 0.6}, "slow");
        h1.animate({opacity: 1}, "slow");
    });

</script>

<div style="text-align: center;">
  <h1 style="font-size: 4em;">欢迎使用，模具房统计系统</h1>
</div>
<div style="text-align: center;">
  <h1 style="font-size: 3em;">你好</h1>
</div>

