<div class="panel">
  <div class="panel-header">
    <h3>欢迎使用，模具房统计系统</h3>
  </div>
  <div class="panel-body">
    <h4>你好</h4>
  </div>

  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</div>