<div class="LeftNav" id="MouldDetail" onmousemove="MouldDetail()">
  <a href="#" style="text-decoration: none; "><h3>模具明细</h3></a>
</div>

<div class="LeftNav" id="ChgKnifeRec" onmousemove="ChgKnifeRec()">
  <a href="#" style="text-decoration: none;"><h3>换刀记录</h3></a>
</div>

<div class="LeftNav" id="ChgKnifeSlice" onmousemove="ChgKnifeSlice()">
  <a href="#" style="text-decoration: none;"><h3>换刀切片</h3></a>
</div>

<div class="LeftNav" id="MouldMaint" onmousemove="MouldMaint()">
  <a href="#" style="text-decoration: none;"><h3>模具维护</h3></a>
</div>

<div class="LeftNav" id="MouldRepair" onmousemove="MouldRepair()">
  <a href="#" style="text-decoration: none;"><h3>模具维修</h3></a>
</div>

<div class="LeftNav" id="GNRTReport" onmousemove="GNRTReport()">
  <a href="#" style="text-decoration: none;"><h3>生成报表</h3></a>
</div>