<div class="row" style="display: inline-flex;">
  <form class="navbar-form navbar-left" role="search" style="display: inline-flex;" method="get" action="<%= send("scope_search_#{current_controller}_path") %>">
    <div class="form-group" style="display: inline-flex;">
      <input type="text" style="height: 20px;width:150px;background-color: transparent;margin-top: 10px;" class="form-control" name="q" value="<%= @q %>">
      <input type="text" name="controller" value="<%= current_controller %>" class="hidden">
      <input type="text" name="model" value="<%= current_model %>" class="hidden">
      <button type="submit" style="margin: 0 0 0 10px ;" class="btn btn-info">四种刀搜索</button>
    </div>
  </form>
</div>