<div style="display: inline-flex; margin-top:10px;">
  <%= link_to '返回', users_path, :class => 'btn btn-info',
              :style => 'color:#000;' %>

  <%= link_to '详情', @user, :class => 'btn btn-info',
              :style => 'color:#000;' %>
  <h1 style="position: absolute;right: 20px;">员工<em>编辑</em></h1>
</div>
<hr style="border: 1px solid #000"/>
<%= render 'form' %>
