#dialog-overlay {
    display: none;
    background: #aaaaaa /*{bgColorOverlay}*/ 50% /*{bgOverlayXPos}*/ 50% /*{bgOverlayYPos}*/ repeat-x /*{bgOverlayRepeat}*/;
    opacity: .3;
    filter: Alpha(Opacity=30) /*{opacityOverlay}*/;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#handle-dialog-modal {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 300px;
    overflow: hidden;
    display: none;
    z-index: 1;
}

#handle-dialog-modal .handle-dialog-modal-content {
    background: #ffffff;
    height: 150px;
}

#handle-dialog-modal .handle-dialog-modal-content p {
    padding: 40px 0px 0px 60px;
}

.LeftNav {
    width: 100%;
    height: 10%;
    background-color: #424A5D;
    text-align: center;
    border: 1px solid #424A5D;
}

h3 {
    font-size: 1.5em;
    text-align: center;
    color: #A7B2B7;
}

/*画梯形*/
.trapezoid {
    height: 0;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    width: 110px;
    border-top-left-radius: 10px;
    border-bottom: 50px solid #ccc;
    border-right: 40px solid transparent;
}

.GREEN {
    background-color: green;
}

.RED {
    background-color: red;
}

.YELLOW {
    background-color: yellow;
}
