<!DOCTYPE html>
<html>
<head>
  <title>模具管理系统</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="LoginBody">

<%= yield %>

</body>
</html>
