<script type="text/javascript">
    $(document).ready(function () {
        data_upload("#item-data-uploader");
    });
</script>
<p id="notice">
  <%= notice %>
</p>
<h3>上传模具维修时间文件</h3>
<div>
  选择数据文件：
  <input id="item-data-uploader" type="file" name="files[]" data-url="/mould_maintain_times/import"/>

  <div id="item-data-uploader-preview" style="display:none;"></div>
  <div>
    <a href="/files/<%= ImportTemplate.mould_maintain_time_excel_template %>">下载模板：<%= ImportTemplate::MOULD_MAINTAIN_TIME_EXCEL_TEMPLATE %></a>
  </div>
</div>