body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:1896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:10px;
  width:30px;
  height:30px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  height:3px;
}
#u4 {
  position:absolute;
  left:0px;
  top:10px;
  width:30px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  height:3px;
}
#u5 {
  position:absolute;
  left:0px;
  top:19px;
  width:30px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  height:3px;
}
#u6 {
  position:absolute;
  left:70px;
  top:12px;
  width:212px;
  height:37px;
  font-family:'Consolas', 'Consolas';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1800px;
  top:14px;
  width:80px;
  height:33px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u8_img.mouseDown {
  width:90px;
  height:43px;
}
#u8.mouseDown {
}
#u9 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:59px;
  width:190px;
  height:961px;
  overflow:hidden;
}
#u10_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:961px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:960px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:960px;
}
#u12 {
  position:absolute;
  left:2px;
  top:472px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:30px;
  top:20px;
  width:120px;
  height:120px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u14 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:-5px;
  top:190px;
  width:205px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#A7B2B7;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:-5px;
  top:260px;
  width:205px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#A7B2B7;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:-5px;
  top:330px;
  width:205px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#A7B2B7;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:-5px;
  top:400px;
  width:205px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#A7B2B7;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:-5px;
  top:470px;
  width:205px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#A7B2B7;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:540px;
  width:205px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#A7B2B7;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:190px;
  top:59px;
  width:1710px;
  height:951px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:951px;
}
